
<!doctype html>
<html class="no-js">
<head>
    <title>采购信息 - 汽油</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.min.css">
    <link rel="stylesheet" href="/zhaoyou/res/v4/css/app.css">
    <style>
        img {
            box-sizing: border-box;
            /* v2.3 开始移除以下代码，详见 #502 */
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            border: 0;
        }
        .separator-block {
            width:100%;
            height:0.6rem;
            background-color:#f0f0f0;
        }
        .separator-line {
            width:100%;
            height:1px;
            background-color:#f0f0f0;
        }
        .text-overflow-ellipsis{
            display:block;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
        }
        .list-item {
            font-size:1.5rem;
        }
        .list-item .title {
        }
        .list-item .price {
            color:#e87823;
        }
        .list-item .time {
            color : #8c8c8c;
            font-size : 1.2rem;
        }
        .list-item .shop {
            font-size : 1.3rem;
        }
        .list-item .attr {
            font-size : 1.2rem;
        }
        .list-item a:link{
            text-decoration:none;
            color:#000
        }
        .list-item a:visited{
            text-decoration:none;
            color:#333;
        }
        .list-item a:hover{
            text-decoration:none;
            color:#333;
        }
        .list-item a:active{
            text-decoration:none;
            color:#333;
        }
        .list-item a.web:visited{
            text-decoration:none;
            color:#333;
        }
        .card {

        }
    </style>
    <script type="text/javascript">
        var Wei = {
            ctx : '/zhaoyou',
            up : '/zhaoyou/weisite',
            us : '.html',
            img : {
                noPic : '/zhaoyou/res/v4/images/no-pic.jpg'
            }
        }
    </script><style>
    body {
        font-size: 12px;
        font-family: ubuntu, helvetica, arial;
        overflow: hidden;
    }

</style>
</head>
<body style="margin:0px;">
<div class="am-cf" style="width:100%;padding: 5px 10px 5px 0px;text-align:right;color:#fff;background-color:#e87823;">
    <div class="am-fl sort-item" data-sort="reqNum"><span class="sort-title" style="font-size:14px;">数量</span><span class="sort-icon-none"></span></div>
    <div class="am-fl sort-item" data-sort="createTime"><span class="sort-title" style="font-size:14px;">时间</span><span class="sort-icon-none"></span></div>
    <div class="am-fr" id="query-btn">
        <span><img src="/zhaoyou/res/v4/images/shaixuan.png" style="width:18px;height:18px;"/></span>
        <span style="line-height:18px;font-size:14px;">筛选</span>
    </div>
</div>
<div id="data-list" style="margin-top:40px;">
</div>

<div class="am-modal am-modal-confirm"  tabindex="-1" id="query-param-div" >
    <div class="am-modal-dialog" >
        <form id="query-form">
            <!--
            <div class="am-g">
                <div class="am-u-sm-4">
                    <button class="am-btn am-btn-default am-btn-block am-btn-xs" onclick="cancelQuery()">取消</button>
                </div>
                <div class="am-u-sm-4"></div>
                <div class="am-u-sm-4">
                    <button class="am-btn am-btn-warning am-btn-block am-btn-xs" onclick="doQuery()">确定</button>
                </div>
            </div>
            -->
            <div class="am-g am-form" style="text-align:left;padding-left:1rem;padding-right:1rem;padding-top:1.5rem;" id="select-logistics-dialog-form">
                <label>标准</label>
                <select id="q_standard" name="standard">
                    <option value="">请选择质量标准</option>
                    <option value="104">国四</option>
                    <option value="105">国五</option>
                    <option value="109">其他</option>
                </select>
                <label>型号</label>
                <select id="q_model" name="model" >
                    <option value="">请选择产品型号</option>
                    <option value="92">92#</option>
                    <option value="93">93#</option>
                    <option value="95">95#</option>
                    <option value="97">97#</option>
                    <option value="99">组分类</option>
                </select>
                <label>状态</label>
                <select id="q_status" name="model" >
                    <option value="">全部</option>
                    <option value="CD">已完成</option>
                    <option value="PP">采购中</option>
                </select>
            </div>
        </form>
        <div class="am-modal-bd">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<div style="width:100%;min-height:100px;">
</div>
<div data-am-widget="navbar" class="am-navbar am-cf " id="" style="border-top:1px solid #c9cbcd;background-color:#fff;">
    <ul class="am-navbar-nav am-cf am-avg-sm-4" style="">
        <li>
            <a href="/zhaoyou/weisite/index.html" class="">
                <span class="am-icon-home am-icon-lg"></span><span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li >
            <a href="/zhaoyou/weisite/user-orders.html" class="">
                <span class="am-icon-file-text am-icon-lg"></span><span class="am-navbar-label">订单</span>
            </a>
        </li>
        <li>
            <a href="/zhaoyou/weisite/more.html" class="">
                <span class="am-icon-user am-icon-lg"></span><span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>	<!--[if (gte IE 9)|!(IE)]><!-->
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->
<script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a7217bdee034576625305921d61a351e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>


<script type='text/javascript'>
    $(function(){
        $("[data-href]").each(function (i) {
            var href = $(this).data('href');
            $(this).on('click',function(){
                window.location.href = href;
            })
        });
        $("[data-modal]").each(function (i) {
            var node = $(this);
            node.on('click',function(){
                var id = node.data('modal');
                $('#' + id).modal({
                    relatedTarget: this
                });
            });
        });
        /*
        wx.config({
            debug: true,
            appId: 'wx20b1331c86ab87a9', // 必填，公众号的唯一标识
            timestamp: '', // 必填，生成签名的时间戳
            nonceStr: '', // 必填，生成签名的随机串
            signature: '',// 必填，签名，见附录1
            jsApiList: [] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        */
    });
</script><!-- alert 提示框 start -->
<div class="am-modal am-modal-alert" tabindex="-1" id="___alert-support-div">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">提示</div>
        <div class="am-modal-bd" id="___alert-support-msg">
            Hello world！
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>
<!-- alert 提示框 end -->
<script type="text/javascript">
    function messageAlert(msg,callback){
        $('#___alert-support-div').modal({
            relatedTarget: this
        });
        $('#___alert-support-msg').html(msg);
    }
</script><!-- 选择地区dialog start -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="___select-area-dialog" >
    <div class="am-modal-dialog">
        <div class="am-modal-hd" style="text-align:left;font-size:1rem;" id="___area_back_div">
            <h2>&nbsp;</h2>
        </div>
        <div id="____area_scroll" class="am-modal-bd" style="height:30rem;overflow-y:scroll;">
            <div data-am-widget="list_news" class="am-list-news am-list-news-default am-list-news-bd" style="margin:0;">
                <ul class="am-list" id="___area-list-div"></ul>
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>
<!-- 选择地区dialog end -->
<script type="text/javascript">
    var ____area = [];
    var ____onSelectAreaCallback;
    function selectArea(onEnsure,onCancel){
        ____area = []
        ____onSelectAreaCallback = onEnsure;
        var props = {
            relatedTarget : this
        }
        if(onCancel){
            props.onCancel = onCancel
        }
        ___loadArea();
        $('#___select-area-dialog').modal(props);

    }
    function ___loadArea(pid,name){
        var str = '';
        if(pid){
            str = '?pid=' + pid;
            if(name){
                ____area.push({id : pid,name : name});
            }
        }
        $('#___area_back_div').html('<h2>&nbsp;</h2>');
        $('#___area-list-div').html('<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">加载中...</li>');
        $.ajax({
            url : Wei.up + '/area-list' + Wei.us + str,
            dataType : 'json',
            success : function(data){
                $('#___area-list-div').html('');
                if(data.success){
                    if(data.pid != undefined){
                        $('#___area_back_div').html('<h2 onclick="___loadArea(' + data.pid + ')">< &nbsp;返回</h2>');
                    }else{
                        $('#___area_back_div').html('<h2>&nbsp;</h2>');
                    }
                    var html = '';
                    for(var i = 0;i < data.result.length;i++){
                        var area = data.result[i];
                        if(area.hasChildren){
                            html += '<li onclick="___loadArea(' + area.id + ',\'' + area.name + '\')" class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left"><div class="am-u-sm-10 am-list-main"><div class="am-list-item-text">' + area.name + '</div></div><div class="am-u-sm-2 am-list-main"><div class="am-list-item-text">></div></div></li>';
                        }else{
                            html += '<li onclick="___selectArea(' + area.id + ',\'' + area.name + '\')" class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left"><div class="am-u-sm-10 am-list-main"><div class="am-list-item-text">' + area.name + '</div></div><div class="am-u-sm-2 am-list-main"><div class="am-list-item-text"></div></div></li>';
                        }
                    }
                    $('#___area-list-div').html(html);
                }
            },
            error : function(){
                $('#___area-list-div').html('');
            }
        });
    }
    function ___selectArea(id,name){
        if(name){
            ____area.push({id : id,name : name});
        }
        $.ajax({
            url : Wei.up + '/area-name' + Wei.us + '?id=' + id,
            dataType : 'json',
            success : function(data){
                if(data.success){
                    $('#___select-area-dialog').modal('close');
                    if(____onSelectAreaCallback){
                        ____onSelectAreaCallback(data.result,____area);
                    }
                }
            }
        });
    }
</script><link rel="stylesheet" href="/zhaoyou/res/v4/css/wei-pagination.css"></link>
<script type="text/javascript" src="/zhaoyou/res/v4/js/lib/iscroll.js"></script>
<script type="text/javascript" src="/zhaoyou/res/v4/js/lib/wei-list-view.js"></script>
<script type="text/javascript">
    var htmlTemplate =
            '<li class="list-item card" >' +
                    '<div class="am-g" style="padding-top:5px;padding-bottom:5px;">' +
                    '<div class="am-u-sm-12" style="color:#8c8c8c;font-size:12px;" >{{time}}　</div>' +
                    '<div class="am-u-sm-4 toe-1" >{{standard}}  {{model}}　</div>' +
                    '<div class="am-u-sm-3 toe-1" >{{takeWay}}　</div>' +
                    '<div class="am-u-sm-5 toe-1" >{{destAddress}}　</div>' +
                    '<div class="am-u-sm-12 toe-1" >{{remark}}</div>' +
                    '<div class="am-u-sm-6"><span style="height:25px;line-height:25px;" >{{num}}吨</span>　</div>' +
                    '<div class="am-u-sm-6" style="text-align:right;" >' +
                    '{{button}}' +
                    '</div>' +
                    '</div>' +
                    '</li>';
    var sortField,sortType;
    var page = Wei.ListView('data-list',{
        url : Wei.up + '/req-list' + Wei.us,
        getData : function(){
            var data = {'_q@catId_t@long_o@equal':6}
            var standard = $('#q_standard').val();
            var model = $('#q_model').val();
            var status = $('#q_status').val();
            if(standard != ''){
                data['_q@standard_t@string_o@equal'] = standard
            }
            if(model != ''){
                data['_q@model_t@string_o@equal'] = model
            }
            if(status != ''){
                data['_q@status_t@string_o@equal'] = status
            }
            if(sortField){
                data.sort=sortType + sortField;
            }
            return data;
        },
        getHtml : function(item){
            var status = item.status == null ? "S" : item.status;
            var html = htmlTemplate;
            html = html.replace(/{{time}}/g,item.createTime);
            html = html.replace(/{{remark}}/g,item.remark);
            html = html.replace(/{{num}}/g,item.reqNum);
            html = html.replace(/{{standard}}/g,{"104":"国四","105":"国五","109":"其他"}[item.standard]);
            html = html.replace(/{{model}}/g,{"97":"97#","99":"组分类","92":"92#","93":"93#","95":"95#"}[item.model]);
            html = html.replace(/{{id}}/g,item.id);
            html = html.replace(/{{destAddress}}/g,item.destAddress);
            html = html.replace(/{{takeWay}}/g,item.takeWay);
            var button = '';
            if(item.status == 'PP') {
                button = '<button type="button" class="am-btn am-btn-xs am-btn-warning" onclick="reqSupply(' + item.id + ')">我要供货</button>';
            }else if(item.status == 'CD'){
                button = '<button type="button" class="am-btn am-btn-xs" disabled="disabled">交易完成</button>';
            }
            html = html.replace(/{{button}}/g,button);
            return html;
        }
    });
    function reqSupply(id){
        window.location.href= Wei.up + "/req-supply-" + id + Wei.us;
    }
    $(function(){
        //排序
        $('div[data-sort]').each(function(i){
            var node = $(this);
            node.on('click',function(){
                var icon = node.find('span[class*=sort-icon]');
                sortField = node.attr('data-sort');
                var className;
                if(icon.hasClass('sort-icon-asc')){
                    className = 'sort-icon-desc';
                    sortType = '-'
                }else{
                    className = 'sort-icon-asc';
                    sortType = '';
                }
                $('span[class*=sort-icon]').each(function(i){
                    $(this).removeClass('sort-icon-asc');
                    $(this).removeClass('sort-icon-desc');
                    $(this).addClass('sort-icon-none');
                });
                icon.removeClass('sort-icon-none');
                icon.addClass(className);
                page.reload();
            });
        });
        //查询
        $('#query-btn').on('click',function(){
            $('#query-param-div').modal({
                relatedTarget: this,
                onConfirm: function(options) {
                    page.reload();
                },
                onCancel: function() {
                }
            });
        });
    });
</script>
</body>
</html>
