#set($title="$!{supplier.companyName}")
<head>
    #parse("/layout/web_header.vm")
    <style>
        .pagination-bar {
            position: fixed;
            bottom: 50px;
            z-index: 1000;
            min-height: 32px;
            overflow: hidden;
            border-radius: 0;
            text-align: center;
        }
        .prev {
            left : 10px;
        }
        .next {
            right: 10px;
        }
        .list-item {
        }
        .list-item a:link{
            text-decoration:none;
            color:#000
        }
        .list-item a:visited{
            text-decoration:none;
            color:#333;
        }
        .list-item a:hover{
            text-decoration:none;
            color:#333;
        }
        .list-item a:active{
            text-decoration:none;
            color:#333;
        }
        .list-item a.web:visited{
            text-decoration:none;
            color:#333;
        }
    </style>
</head>
<body>
    <div style="width:100%;padding-top:1rem;position:relative;">
        <div style="position:absolute;z-index:100;width:8rem;height:8rem;left:3rem;top:1rem;border:0.2rem solid #fff;">
            <img src="/pic/show/$!{supplier.companyLogo}" style="width:100%;height:100%;border:1px solid #ddd;"/>
        </div>
        <div class="toe-1" style="padding-left:12rem;padding-top:1rem;padding-bottom:0.5rem;background-color:#fff;">$!{supplier.companyName}</div>
        <div style="background-color:#f37a1c;">
            <div style="height:4rem;"></div>
            <div class="am-g" style="padding-top:0.5rem;padding-bottom:0.5rem;">
                <div class="am-u-sm-4" style="text-align:center;border-right:1px solid #8c8c8c;">
                    <span>6</span><br/>
                    全部产品
                </div>
                <div class="am-u-sm-4" style="text-align:center;border-right:1px solid #8c8c8c;">
                    <span>0</span><br/>
                    最新上架
                </div>
                <div class="am-u-sm-4" style="text-align:center;" data-href="">
                    关于<br/>
                    我们
                </div>
            </div>
        </div>
    </div>
    <div style="position:relative;z-index:1;width:100%;height:100%;">
        <div class="am-list-news-bd" id="data-list">
        </div>
    </div>
    <!-- 商品列表  start
    <div data-am-widget="list_news" class="am-list-news am-list-news-default" style="padding-bottom:50px;">
        <div class="am-list-news-bd">
            <ul class="am-list" id="item-list">
            </ul>
        </div>
    </div>
     -->
    <!-- 商品列表  end -->
##    <div class="am-modal am-modal-confirm"  tabindex="-1" id="query-param-div" >
##        <div class="am-modal-dialog" >
##            <form id="query-form">
##                <input value="54" type="hidden" name="shopId" >
##                <div class="am-g am-form" style="text-align:left;padding-left:1rem;padding-right:1rem;padding-top:1.5rem;" id="select-logistics-dialog-form">
##                    <label>标准</label>
##                    <select id="q_standard" name="standard">
##                        <option value="">请选择质量标准</option>
##                        <option value="0">非标</option>
##                        <option value="2">国二</option>
##                        <option value="3">国三</option>
##                        <option value="4">国四</option>
##                        <option value="5">国五</option>
##                        <option value="9">其他</option>
##                    </select>
##                    <label>型号</label>
##                    <select id="q_model" name="model" >
##                        <option value="">请选择产品型号</option>
##                        <option value="-35">-35#</option>
##                        <option value="-20">-20#</option>
##                        <option value="-10">-10#</option>
##                        <option value="0">0#</option>
##                        <option value="9">组分类</option>
##                    </select>
##                    <label>价格区间（元/吨）</label>
##                    <div class="am-input-group">
##                        <input id="p-gt" value="" type="number" name="price_gt" class="am-form-field">
##                        <span class="am-input-group-label">-</span>
##                        <input id="p-lt" value="" type="number" name="price_lt" class="am-form-field">
##                    </div>
##                </div>
##            </form>
##            <div class="am-modal-bd">
##            </div>
##            <div class="am-modal-footer">
##                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
##                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
##            </div>
##        </div>
##    </div>
    #parse("/layout/tabbar.vm")
    <script src="/res/v4/js/wei-pagination.js"></script>
##    <script src="/res/v4/js/item-list.js"></script>
    <link rel="stylesheet" href="/res/v4/css/wei-pagination.css"></link>
    <script type="text/javascript" src="/res/v4/js/lib/iscroll.js"></script>
    <script type="text/javascript" src="/res/v4/js/lib/wei-list-view.js"></script>
    <script type="text/javascript">
        var htmlTemplate =
                '<li class="am-list-item-thumb-left list-item" >' +
                        '<a href="/p/item-{{id}}" class="">' +
                        '<div class="am-g">' +
                        '<div class="am-u-sm-3 am-list-thumb"  >' +
                        '<img src="{{imageUrl}}" alt="{{name}}"/>' +
                        '</div>' +
                        '<div class=" am-u-sm-9 am-list-main"  >' +
                        '<div class="text-overflow-ellipsis" style="width:100%;">{{name}}</div>' +
                        '<div style="width:100%;">' +
                        '<div class="text-overflow-ellipsis price" style="float:left;width:50%;">￥{{price}}</div>' +
                        '<div class="text-overflow-ellipsis time" style="float:left;width:50%;padding-top:0.3rem;text-align:right;">{{updateTime}}</div>' +
                        '<div class="text-overflow-ellipsis" style="clear:both;"></div>' +
                        '</div>' +
                        '<div class="text-overflow-ellipsis shop" style="width:100%;">库存：{{inventory}}</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="am-g attr" >' +
                        '<div class="am-u-sm-4" style="padding-left:0.5rem;padding-right:0;">闪点：{{flashPoint}}</div>' +
                        '<div class="am-u-sm-4" style="padding-left:0.5rem;padding-right:0;">密度：{{density}}</div>' +
                        '<div class="am-u-sm-4" style="padding-left:0.5rem;padding-right:0;">十六烷值：{{cetaneNumber}}</div>' +
                        '</div>' +
                        '</a>' +
                        '</li>';
        var page = Wei.ListView('data-list',{
            url : '/s/ajax/detail',
            count:10,
            anim : false,
            getData : function(){
                return {id:'$!{supplier.id}'};
            },
            getHtml : function(item){
                var logoUrl = item.itemImgUrl ? item.itemImgUrl : '';
                if(logoUrl == null || logoUrl == ''){
                    logoUrl = Wei.img.noPic;
                }
                var html = htmlTemplate;
                html = html.replace(/{{id}}/g,item.id);
                html = html.replace(/{{imageUrl}}/g,logoUrl);

//                var shopLogoUrl = item.shopLogoUrl ? item.shopLogoUrl : '';
//                if(shopLogoUrl == null || shopLogoUrl == ''){
//                    shopLogoUrl = Wei.img.noPic;
//                }
//
//                html = html.replace(/{{shopLogoUrl}}/g,shopLogoUrl);

//                var titleAlt = item.name;
//                if(titleAlt.length > 20){
//                    titleAlt = titleAlt.substring(0,18) + '...';
//                }
                html = html.replace(/{{updateTime}}/g,item.timeDesc);
                html = html.replace(/{{name}}/g,item.name);
                html = html.replace(/{{price}}/g,item.price);
//                html = html.replace(/{{shopName}}/g,item.shopName);
                html = html.replace(/{{inventory}}/g,item.inventory);
                html = html.replace(/{{flashPoint}}/g,((item.flashPoint == null) ? '' : item.flashPoint));
                html = html.replace(/{{density}}/g,((item.density == null) ? '' : item.density));
                html = html.replace(/{{cetaneNumber}}/g,((item.cetaneNumber == null) ? '' : item.cetaneNumber));
//                html = html.replace(/{{liu}}/g,((item.liu == null) ? '' : item.liu));
                return html;
            }
        });

//        var page = initItemList('item-list',htmlTemplate,function(){
//            return $("#query-form").serialize();
//        });
//        page.load(1);
//        $('#query-btn').on('click',function(){
//            $('#query-param-div').modal({
//                relatedTarget: this,
//                onConfirm: function(options) {
//                    page.load(1);
//                },
//                onCancel: function() {
//                }
//            });
//        });
    </script>
</body>