#set($title="一键找车")
#parse("/layout/header.vm")
<body>
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            <h3>发布找车信息</h3>
            <hr>
            <form method="post" action="" class="am-form" id="form">
                <label>货物:</label>
                <input type="text" name="goods" value="">
                <select name="glevel" style="display:none">
                    <!--<option value="0">请选择..</option><option value="1">一类</option><option value="2">二类</option>-->
                    <option value="3">三类</option>
                    <!--<option value="4">四类</option><option value="5">五类</option><option value="6">六类</option><option value="7">七类</option><option value="8">八类</option><option value="9">九类</option>-->
                </select>
                <label>重量（吨）:</label>
                <input type="number" name="weight" value="">
                <label>价格:</label>
                <input type="text" name="price" value="" placeHolder="商谈">
                <label>所需罐体:</label>
                <select id="needTank" name="needTank">
                    <!--<option value="1000">请选择..</option>
                    <option value="1">不锈钢保温</option><option value="2">不锈钢</option>
                    <option value="3">铁罐保温</option><option value="4">铁罐</option>
                    <option value="5">衬塑</option><option value="6">玻璃钢</option><option value="7">铝合金</option><option value="8">镀铝</option><option value="9">压力罐</option><option value="10">铝镁合金</option><option value="11">铝罐</option><option value="12">铝罐保温</option><option value="13">钛镁合金</option><option value="20">集装箱</option><option value="21">高栏</option><option value="22">平板</option><option value="23">厢式</option><option value="99">其他</option>-->
                </select>
                <label>发货时间:</label>
                <select id="deliveryTime" name="deliveryTime">

                </select>
                <label>备注:</label>
                <input type="text" name="remark" value="">
                <label>发货人姓名:</label>
                <input type="text" name="senderName" value="">
                <label>发货人手机:</label>
                <input type="text" name="senderPhone" value="">
                <input type="hidden" name="apicompany" value="个人">
                <label>始发地:</label>
                <div class="am-input-group">
                    <input type="text" id="area_p_1_text" readonly="true" name="area_p_1_text" >
                    <input type="hidden" id="area_p_1" readonly="true" name="origin" >
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default" id="select-area-btn-begin" type="button"><span class="am-icon-angle-down">选择</span> </button>
                        </span>
                </div>
                <label>目的地:</label>
                <div class="am-input-group">
                    <input type="text" id="area_p_2_text" readonly="true" name="area_p_2_text" >
                    <input type="hidden" id="area_p_2" readonly="true" name="destination" >
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default" id="select-area-btn-end" type="button"><span class="am-icon-angle-down">选择</span> </button>
                        </span>
                </div>
                <br />
                是否需要下载合同范本
                <input type="checkbox" name="downloadContract" id="search_check"/>
                <input type="text" id="down_email" name="downEmail" value="" placeHolder="请输入您的邮箱地址" style="display: none">
                <div class="am-g" style="margin-bottom:50px;margin-top:1rem;">
                    <div class="am-u-sm-12">
                        <a class="am-btn am-btn-warning am-btn-block" href="javascript:void(0)" onclick="submitForm()">提交</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    #parse("/layout/tabbar.vm")
    #parse("/layout/select_area.vm")
    <script type='text/javascript'>
        var today = new Date();
        var html = '';
        for(var i = 0;i < 7;i++){
            var newDate = new Date(today.getTime() + (24*60*60*1000)*i);
            html += '<option value="'+newDate.getTime()+'">'+newDate.formatDate('yyyy-mm-dd')+'</option>';
        }
        $('#deliveryTime').append(html);
        $('#search_check').on('click',function(){
            if($('#search_check').is(':checked')){
                $('#search_check').attr('checked',true);
                $('#down_email').show();
                $('#down_email').val("");
            }else{
                $('#search_check').attr('checked',false);
                $('#down_email').hide();
            }
        });

        $.ajax({
            url : '/dic/list',
            type : 'POST',
            dataType : 'json',
            data : {groupCode : 'need_tank'},
            success : function(data){
                if (0 == data.code) {
                    var html = '';
                    for(var i = 0;i < data.data.length;i++){
                        html += '<option value="'+data.data[i].id+'">'+data.data[i].name+'</option>';
                    }
                    $('#needTank').append(html);
                }
            }
        });

        $('#select-area-btn-begin,#select-area-btn-end').on('click',function(){
            var that = $(this);
            selectArea(function(area){
                var text = '';
                var len = area.length;
                for(var i = 0;i < len;i++){
                    text += '-' + area[i].name;
                }
                if ($(that).attr("id") == 'select-area-btn-begin') {
                    $('#area_p_1_text').val(text.substr(1));
                    $('#area_p_1').val(area[len-1].id);
                } else {
                    $('#area_p_2_text').val(text.substr(1));
                    $('#area_p_2').val(area[len-1].id);
                }
            });
        });

        function submitForm(){
            /*
            var str = new Date().getTime();
            $.ajax({
                url : Wei.up + '/zhaoche/search' + Wei.us + '?t=' + str + '&' + $("#form").serialize(),
                type : 'get',
                dataType : 'json',
                success : function(){

                },
                error : function(){

                }
            });
            */
        }
    </script>
</body>