#set($title="我的关注")
#parse("/layout/header.vm")
<body>
<!--
<div style="width:100%;padding-top:1rem;padding-bottom:1rem;padding-right:2rem;text-align:center;color:#fff;background-color:#e87823;">
	关注的产品
</div>
-->
    <div style="position:relative;z-index:1;width:100%;height:100%;">
        <div id="data-list">
        </div>
    </div>

    <div style="width:100%;min-height:100px;">
    </div>
    #parse("/layout/tabbar.vm")
    #parse("/layout/alert.vm")
    #parse("/layout/loading.vm")
    <link rel="stylesheet" href="/res/v4/css/wei-pagination.css"></link>
    <script type="text/javascript" src="/res/v4/js/lib/iscroll.js"></script>
    <script type="text/javascript" src="/res/v4/js/lib/wei-list-view.js"></script>
    <script>
        var template =
                '<li class="am-list-item-thumb-left list-item card" id="item-list-{{id}}">' +
                        '<div class="am-g">' +
                        '<div class="am-u-sm-12" style="text-align:right;" >' +
                        '<div onclick="removeWatch({{id}})" style="color:#e87823;">' +
                        '<img src="/res/v4/images/favourite.png" alt="取消关注" style="width:1rem;height:1rem;"/>取消关注' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<a href="' + Wei.up + '/item-{{id}}' + Wei.us + '" class="">' +
                        '<div class="am-g">' +
                        '<div class="am-u-sm-4 am-list-thumb"  >' +
                        '<img src="{{imageUrl}}" alt="{{titleAlt}}"/>' +
                        '</div>' +
                        '<div class=" am-u-sm-8 am-list-main"  >' +
                        '<div class="text-overflow-ellipsis" style="width:100%;">{{title}}</div>' +
                        '<div style="width:100%;">' +
                        '<div class="text-overflow-ellipsis price" style="float:left;width:50%;">￥{{pirce}}</div>' +
                        '<div class="text-overflow-ellipsis time" style="float:left;width:50%;padding-top:0.3rem;text-align:right;">{{updateTime}}</div>' +
                        '<div class="text-overflow-ellipsis" style="clear:both;"></div>' +
                        '</div>' +
                        '<div class="text-overflow-ellipsis shop" style="width:100%;">{{shopName}}</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="am-g attr" >' +
                        '<div class="am-u-sm-4" style="padding-left:0.5rem;padding-right:0;">闪点：{{sd}}</div>' +
                        '<div class="am-u-sm-4" style="padding-left:0.5rem;padding-right:0;">密度：{{md}}</div>' +
                        '<div class="am-u-sm-4" style="padding-left:0.5rem;padding-right:0;">十六烷值：{{wan}}</div>' +
                        '</div>' +
                        '</a>' +
                        '</li>';

        var page = Wei.ListView('data-list',{
            url : '/watch/ajax/getlist',
            animDelay:150,
            getData : function(){
                return {};
            },
            getHtml : function(item){

                var logoUrl = (item.picUrl ? ('/pic/show/'+item.picUrl) : '');
                if(logoUrl == null || logoUrl == ''){
                    logoUrl = Wei.img.noPic;
                }
                var html = template;
                html = html.replace(/{{id}}/g,item.id);
                html = html.replace(/{{imageUrl}}/g,logoUrl);

//                var shopLogoUrl = item.shopLogoUrl ? item.shopLogoUrl : '';
//                if(shopLogoUrl == null || shopLogoUrl == ''){
//                    shopLogoUrl = Wei.img.noPic;
//                }

//                html = html.replace(/{{shopLogoUrl}}/g,shopLogoUrl);

                var titleAlt = item.name;
                if(titleAlt.length > 20){
                    titleAlt = titleAlt.substring(0,18) + '...';
                }
                html = html.replace(/{{updateTime}}/g,item.timeDesc);
                html = html.replace(/{{titleAlt}}/g,titleAlt);
                html = html.replace(/{{title}}/g,item.name);
                html = html.replace(/{{pirce}}/g,item.price);
                html = html.replace(/{{shopName}}/g,item.companyName);
//                html = html.replace(/{{itemNum}}/g,item.itemNum);
                html = html.replace(/{{sd}}/g,((item.flashPoint == null) ? '' : item.flashPoint));
                html = html.replace(/{{md}}/g,((item.density == null) ? '' : item.density));
                html = html.replace(/{{wan}}/g,((item.cetaneNumber == null) ? '' : item.cetaneNumber));
//                html = html.replace(/{{liu}}/g,((item.liu == null) ? '' : item.liu));
                return html;
            }
        });

        function removeWatch(itemId){
            showLoading();
            $.ajax({
                url : '/watch/ajax/unFollow?id=' + itemId,
                type : 'get',
                dataType : 'json',
                success : function(data){
                    if(0 == data.code){
                        $('#item-list-' + itemId).slideUp(1000,function(){
                            $('#item-list-' + itemId).remove();
                        });
                    } else {
                        if(1010 == data.code){
                            window.location.href= '/u/login?redirectUrl=/user-watch';
                        }else{
                            messageAlert('出错了，请联系系统管理员。');
                        }
                    }
                },
                complete : function(){
                    hideLoading();
                },
                error : function(){
                    console.log('error');
                }
            });
        }
    </script>
</body>
