<!-- 选择地区dialog start -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="___select-area-dialog" >
    <div class="am-modal-dialog">
        <div class="am-modal-hd" style="text-align:left;font-size:1rem;" id="___area_back_div">
            <h2>&nbsp;</h2>
        </div>
        <div id="____area_scroll" class="am-modal-bd" style="height:30rem;overflow-y:scroll;">
            <div data-am-widget="list_news" class="am-list-news am-list-news-default am-list-news-bd" style="margin:0;">
                <ul class="am-list" id="___area-list-div"></ul>
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>
<!-- 选择地区dialog end -->
<script type="text/javascript">
    var ____area = [];
    var ____onSelectAreaCallback;
    function selectArea(onEnsure,onCancel){
        ____area = []
        ____onSelectAreaCallback = onEnsure;
        var props = {
            relatedTarget : this
        }
        if(onCancel){
            props.onCancel = onCancel
        }
        ___loadArea(-1);
        $('#___select-area-dialog').modal(props);

    }
    function ___loadArea(pid,name){
        var str = '';
        if(pid){
            str = '?pid=' + pid;
            if(name){
                ____area.push({id : pid,name : name});
            }
        }
        $('#___area_back_div').html('<h2>&nbsp;</h2>');
        $('#___area-list-div').html('<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">加载中...</li>');
        $.ajax({
            url : '/area/list' + str,
            dataType : 'json',
            success : function(data){
                $('#___area-list-div').html('');
                if(0 == data.code){
                    var html = '';
                    for(var i = 0;i < data.data.length;i++){
                        var area = data.data[i];
                        if(area.areaLevel < 3 && area.areaName != '北京' && area.areaName != '天津' && area.areaName != '上海' && area.areaName != '重庆'){
                            html += '<li onclick="___loadArea(' + area.id + ',\'' + area.areaName + '\')" class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left"><div class="am-u-sm-10 am-list-main"><div class="am-list-item-text">' + area.areaName + '</div></div><div class="am-u-sm-2 am-list-main"><div class="am-list-item-text">></div></div></li>';
                        }else{
                            html += '<li onclick="___selectArea(' + area.id + ',\'' + area.areaName + '\')" class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left"><div class="am-u-sm-10 am-list-main"><div class="am-list-item-text">' + area.areaName + '</div></div><div class="am-u-sm-2 am-list-main"><div class="am-list-item-text"></div></div></li>';
                        }
                    }
                    $('#___area-list-div').html(html);
                    if(pid != -1){
                        $('#___area_back_div').html('<h2 onclick="___loadArea(-1)">< &nbsp;返回</h2>');
                    }else{
                        $('#___area_back_div').html('<h2>&nbsp;</h2>');
                    }
                }
            },
            error : function(){
                $('#___area-list-div').html('');
            }
        });
    }
    function ___selectArea(id,name){
        if(name){
            ____area.push({id : id,name : name});
        }
        $('#___select-area-dialog').modal('close');
        if(____onSelectAreaCallback){
            ____onSelectAreaCallback(____area);
        }
//        $.ajax({
//            url : Wei.up + '/area-name' + Wei.us + '?id=' + id,
//            dataType : 'json',
//            success : function(data){
//                if(data.success){
//                    $('#___select-area-dialog').modal('close');
//                    if(____onSelectAreaCallback){
//                        ____onSelectAreaCallback(data.result,____area);
//                    }
//                }
//            }
//        });
    }
</script>