<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.jss.index.dao.FileindexMapper">

    <!-- mysql分页查询 -->
    <sql id="pagingFooter"> limit #{offset},#{pageRows} </sql>
    <sql id="countingHeader">select count(*) from(</sql>
    <sql id="countingFooter">) a</sql>

    <!-- 结果映射  -->
    <resultMap id="FileindexMapper" type="Fileindex">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="pid" property="pid" jdbcType="BIGINT"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <id column="userid" property="userid" jdbcType="BIGINT"/>
        <id column="link" property="link" jdbcType="VARCHAR"/>
        <id column="appid" property="appid" jdbcType="BIGINT"/>
        <id column="filetype" property="filetype" jdbcType="TINYINT"/>
        <id column="metadata" property="metadata" jdbcType="VARCHAR"/>
        <id column="atime" property="atime" jdbcType="TIMESTAMP"/>
        <id column="ctime" property="ctime" jdbcType="TIMESTAMP"/>
        <id column="mtime" property="mtime" jdbcType="TIMESTAMP"/>
        <id column="size" property="size" jdbcType="BIGINT"/>
    </resultMap>
    <!-- 所有列信息  -->
    <sql id="All_Column">
        id,
        pid,
        name,
        userid,
        link,
        appid,
        filetype,
        metadata,
        atime,
        ctime,
        mtime,
        size
    </sql>
    <!-- 动态列信息  -->
    <sql id="Dynamic_Column">
        <if test="id!= null">id,</if>
        <if test="pid!= null">pid,</if>
        <if test="name!= null">name,</if>
        <if test="userid!= null">userid,</if>
        <if test="link!= null">link,</if>
        <if test="appid!= null">appid,</if>
        <if test="filetype!= null">filetype,</if>
        <if test="metadata!= null">metadata,</if>
        <if test="atime!= null">atime,</if>
        <if test="ctime!= null">ctime,</if>
        <if test="mtime!= null">mtime,</if>
        <if test="size!= null">size,</if>
    </sql>
    <!-- 动态值信息  -->
    <sql id="Dynamic_Value">
        <if test="id!= null">#{id,jdbcType=BIGINT},</if>
        <if test="pid!= null">#{pid,jdbcType=BIGINT},</if>
        <if test="name!= null">#{name,jdbcType=VARCHAR},</if>
        <if test="userid!= null">#{userid,jdbcType=BIGINT},</if>
        <if test="link!= null">#{link,jdbcType=VARCHAR},</if>
        <if test="appid!= null">#{appid,jdbcType=BIGINT},</if>
        <if test="filetype!= null">#{filetype,jdbcType=TINYINT},</if>
        <if test="metadata!= null">#{metadata,jdbcType=VARCHAR},</if>
        <if test="atime!= null">#{atime,jdbcType=TIMESTAMP},</if>
        <if test="ctime!= null">#{ctime,jdbcType=TIMESTAMP},</if>
        <if test="mtime!= null">#{mtime,jdbcType=TIMESTAMP},</if>
        <if test="size!= null">#{size,jdbcType=BIGINT},</if>
    </sql>

    <!-- 动态设置值信息  -->
    <sql id="Dynamic_SetValue">
        <if test="pid!= null">pid = #{pid,jdbcType=BIGINT},</if>
        <if test="name!= null">name = #{name,jdbcType=VARCHAR},</if>
        <if test="userid!= null">userid = #{userid,jdbcType=BIGINT},</if>
        <if test="link!= null">link = #{link,jdbcType=VARCHAR},</if>
        <if test="appid!= null">appid = #{appid,jdbcType=BIGINT},</if>
        <if test="filetype!= null">filetype = #{filetype,jdbcType=TINYINT},</if>
        <if test="metadata!= null">metadata = #{metadata,jdbcType=VARCHAR},</if>
        <if test="atime!= null">atime = #{atime,jdbcType=TIMESTAMP},</if>
        <if test="ctime!= null">ctime = #{ctime,jdbcType=TIMESTAMP},</if>
        <if test="mtime!= null">mtime = #{mtime,jdbcType=TIMESTAMP},</if>
        <if test="size!= null">size = #{size,jdbcType=BIGINT},</if>
    </sql>

    <!-- 动态where值信息  -->
    <sql id="Dynamic_Where">
        <if test="pid != null or userid != null">
            <trim prefix="(" prefixOverrides="AND" suffix=")">
                <if test="userid != null">AND userid = #{userid, jdbcType=BIGINT}</if>
                <if test="pid != null">AND pid = #{pid, jdbcType=BIGINT}</if>
            </trim>
        </if>
        <if test="pid == null and userid == null">AND (1=1)</if>

        <trim prefix="AND (" prefixOverrides="AND" suffix=")">
            <if test="id != null">AND id = #{id, jdbcType=BIGINT}</if>
            <if test="name != null">AND name = #{name, jdbcType=VARCHAR}</if>
            <if test="link != null">AND link = #{link, jdbcType=VARCHAR}</if>
            <if test="appid != null">AND appid = #{appid, jdbcType=BIGINT}</if>
            <if test="filetype != null">AND filetype = #{filetype, jdbcType=TINYINT}</if>
            <if test="metadata != null">AND metadata = #{metadata, jdbcType=VARCHAR}</if>
            <if test="atime != null">AND atime = #{atime, jdbcType=TIMESTAMP}</if>
            <if test="ctime != null">AND ctime = #{ctime, jdbcType=TIMESTAMP}</if>
            <if test="mtime != null">AND mtime = #{mtime, jdbcType=TIMESTAMP}</if>
            <if test="size != null">AND size = #{size, jdbcType=BIGINT}</if>
        </trim>
        <if test="id == null and name == null and link == null and appid == null and filetype == null and metadata == null and atime == null and ctime == null and mtime == null and size==null">
            AND (1=1)
        </if>
    </sql>

    <!-- 查询列表  -->
    <select id="listFileindex" resultMap="FileindexMapper" parameterType="Fileindex">
        select
        <include refid="All_Column"/>
        from fileindex
        <where>
            <include refid="Dynamic_Where"/>
        </where>
    </select>

</mapper>