<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oil.detection.dao.HomeSettingMapper">

    <!-- mysql分页查询 -->
    <sql id="pagingFooter"> limit #{pageRows} offset #{offset}</sql>
    <sql id="countingHeader">select count(*) from(</sql>
    <sql id="countingFooter">) a</sql>

    <!-- 结果映射  -->
    <resultMap id="HomeSettingMapper" type="HomeSetting">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="type" property="type" jdbcType="TINYINT"/>
        <id column="target_id" property="targetId" jdbcType="BIGINT"/>
        <id column="sort" property="sort" jdbcType="TINYINT"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <id column="state" property="state" jdbcType="BIGINT"/>
        <id column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 所有列信息  -->
    <sql id="All_Column">
        id,
            type,
            target_id,
            sort,
            create_time,
            update_time,
            state,
                remark
        </sql>
    <!-- 动态列信息  -->
    <sql id="Dynamic_Column">
        <if test="type!= null">type,</if>
        <if test="targetId!= null">target_id,</if>
        <if test="sort!= null">sort,</if>
        <if test="createTime!= null">create_time,</if>
        <if test="updateTime!= null">update_time,</if>
        <if test="state!= null">state,</if>
        <if test="remark!= null">remark,</if>
    </sql>
    <!-- 动态值信息  -->
    <sql id="Dynamic_Value">
        <if test="type!= null">#{type,jdbcType=TINYINT},</if>
        <if test="targetId!= null">#{targetId,jdbcType=BIGINT},</if>
        <if test="sort!= null">#{sort,jdbcType=NUMBER},</if>
        <if test="createTime!= null">#{createTime,jdbcType=TIMESTAMP},</if>
        <if test="updateTime!= null">#{updateTime,jdbcType=TIMESTAMP},</if>
        <if test="state!= null">#{state,jdbcType=BIGINT},</if>
        <if test="remark!= null">#{remark,jdbcType=VARCHAR},</if>
    </sql>

    <!-- 动态设置值信息  -->
    <sql id="Dynamic_SetValue">
        <if test="type!= null">type = #{type,jdbcType=TINYINT},</if>
        <if test="targetId!= null">target_id = #{targetId,jdbcType=BIGINT},</if>
        <if test="sort!= null">sort = #{sort,jdbcType=NUMBER},</if>
        <if test="createTime!= null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
        <if test="updateTime!= null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
        <if test="state!= null">state = #{state,jdbcType=BIGINT},</if>
        <if test="remark!= null">remark = #{remark,jdbcType=VARCHAR},</if>
    </sql>

    <!-- 动态where值信息  -->
    <sql id="Dynamic_Where">
        <if test="id != null">AND id = #{id, jdbcType=BIGINT}</if>
        <if test="type != null">AND type = #{type, jdbcType=TINYINT}</if>
        <if test="targetId != null">AND target_id = #{targetId, jdbcType=BIGINT}</if>
        <if test="sort != null">AND sort = #{sort, jdbcType=TINYINT}</if>
        <if test="createTime != null">AND create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="updateTime != null">AND update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
        <if test="state != null">AND state = #{state, jdbcType=BIGINT}</if>
        <if test="remark != null">AND remark = #{remark, jdbcType=VARCHAR}</if>
    </sql>

    <!-- 查询列表  -->
    <select id="listHomeSetting" resultMap="HomeSettingMapper" parameterType="HomeSetting">
        select
        <include refid="All_Column"/>
        from home_setting
        <where>
            <include refid="Dynamic_Where"/>
        </where>
        order by sort
    </select>

    <!-- 查询总数  -->
    <select id="countHomeSetting" resultType="Integer" parameterType="HomeSetting">
        <include refid="countingHeader"/>
        select
        <include refid="All_Column"/>
        from home_setting
        <where>
            <include refid="Dynamic_Where"/>
        </where>
        <include refid="countingFooter"/>
    </select>

    <!-- 分页列表  -->
    <select id="pageListHomeSetting" resultMap="HomeSettingMapper" parameterType="QueryHomeSetting">
        select
        <include refid="All_Column"/>
        from home_setting
        <where>
            <include refid="Dynamic_Where"/>
        </where>
        <include refid="pagingFooter"/>
    </select>

    <!-- 查询  -->
    <select id="getHomeSetting" resultMap="HomeSettingMapper" parameterType="HomeSetting">
        select
        <include refid="All_Column"/>
        from home_setting
        <where>
            <include refid="Dynamic_Where"/>
        </where>
    </select>

    <!-- 新增  -->
    <insert id="saveHomeSetting" useGeneratedKeys="true" keyProperty="id" parameterType="HomeSetting">
        insert into home_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Dynamic_Column"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Dynamic_Value"/>
        </trim>
    </insert>

    <!-- 根据id修改  -->
    <update id="modifyHomeSetting" parameterType="HomeSetting">
        update home_setting
        <set>
            <include refid="Dynamic_SetValue"/>
        </set>
        <where>
            <if test="id != null">AND ID = #{id, jdbcType=NUMERIC}</if>
        </where>
    </update>

    <!-- 删除  -->
    <delete id="removeHomeSetting" parameterType="HomeSetting">
        delete from home_setting
        <where>
            <include refid="Dynamic_Where"/>
        </where>
    </delete>

</mapper>