<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oil.detection.dao.PicMapper">

    <!-- mysql分页查询 -->
    <sql id="pagingFooter"> limit #{pageRows} offset #{offset}</sql>
    <sql id="countingHeader">select count(*) from(</sql>
    <sql id="countingFooter">) a</sql>

    <!-- 结果映射  -->
    <resultMap id="PicMapper" type="Pic">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="type" property="type" jdbcType="TINYINT"/>
        <id column="pic_url" property="picUrl" jdbcType="VARCHAR"/>
        <id column="owner_id" property="ownerId" jdbcType="BIGINT"/>
        <id column="order" property="order" jdbcType="TINYINT"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <id column="state" property="state" jdbcType="TINYINT"/>
        <id column="remark" property="remark" jdbcType="VARCHAR"/>
        <id column="link_url" property="linkUrl" jdbcType="VARCHAR"/>
        <id column="content" property="content" jdbcType="BLOB" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
    </resultMap>
    <!-- 所有列信息  -->
    <sql id="All_Column">
        id,
            `type`,
            pic_url,
            owner_id,
            `order`,
            create_time,
            update_time,
            state,
            remark,
            link_url,
                content
        </sql>
    <!-- 动态列信息  -->
    <sql id="Dynamic_Column">
        <if test="type!= null">type,</if>
        <if test="picUrl!= null">pic_url,</if>
        <if test="ownerId!= null">owner_id,</if>
        <if test="order!= null">order,</if>
        <if test="createTime!= null">create_time,</if>
        <if test="updateTime!= null">update_time,</if>
        <if test="state!= null">state,</if>
        <if test="remark!= null">remark,</if>
        <if test="linkUrl!= null">link_url,</if>
        <if test="content!= null">content,</if>
    </sql>
    <!-- 动态值信息  -->
    <sql id="Dynamic_Value">
        <if test="type!= null">#{type,jdbcType=TINYINT},</if>
        <if test="picUrl!= null">#{picUrl,jdbcType=VARCHAR},</if>
        <if test="ownerId!= null">#{ownerId,jdbcType=BIGINT},</if>
        <if test="order!= null">#{order,jdbcType=TINYINT},</if>
        <if test="createTime!= null">#{createTime,jdbcType=TIMESTAMP},</if>
        <if test="updateTime!= null">#{updateTime,jdbcType=TIMESTAMP},</if>
        <if test="state!= null">#{state,jdbcType=TINYINT},</if>
        <if test="remark!= null">#{remark,jdbcType=VARCHAR},</if>
        <if test="linkUrl!= null">#{linkUrl,jdbcType=VARCHAR},</if>
        <if test="content!= null">#{content,jdbcType=BLOB},</if>
    </sql>

    <!-- 动态设置值信息  -->
    <sql id="Dynamic_SetValue">
        <if test="type!= null">type = #{type,jdbcType=TINYINT},</if>
        <if test="picUrl!= null">pic_url = #{picUrl,jdbcType=VARCHAR},</if>
        <if test="ownerId!= null">owner_id = #{ownerId,jdbcType=BIGINT},</if>
        <if test="order!= null">order = #{order,jdbcType=TINYINT},</if>
        <if test="createTime!= null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
        <if test="updateTime!= null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
        <if test="state!= null">state = #{state,jdbcType=TINYINT},</if>
        <if test="remark!= null">remark = #{remark,jdbcType=VARCHAR},</if>
        <if test="linkUrl!= null">link_url = #{linkUrl,jdbcType=VARCHAR},</if>
        <if test="content!= null">content = #{content,jdbcType=BLOB},</if>
    </sql>

    <!-- 动态where值信息  -->
    <sql id="Dynamic_Where">
        <if test="id != null">AND id = #{id, jdbcType=BIGINT}</if>
        <if test="type != null">AND type = #{type, jdbcType=TINYINT}</if>
        <if test="picUrl != null">AND pic_url = #{picUrl, jdbcType=VARCHAR}</if>
        <if test="ownerId != null">AND owner_id = #{ownerId, jdbcType=BIGINT}</if>
        <if test="order != null">AND order = #{order, jdbcType=TINYINT}</if>
        <if test="createTime != null">AND create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="updateTime != null">AND update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
        <if test="state != null">AND state = #{state, jdbcType=TINYINT}</if>
        <if test="remark != null">AND remark = #{remark, jdbcType=VARCHAR}</if>
        <if test="linkUrl != null">AND link_url = #{linkUrl, jdbcType=VARCHAR}</if>
        <if test="content != null">AND content = #{content, jdbcType=BLOB}</if>
    </sql>

    <!-- 查询列表  -->
    <select id="listPic" resultMap="PicMapper" parameterType="Pic">
        select
        <include refid="All_Column"/>
        from pic
        <where>
            <include refid="Dynamic_Where"/>
        </where>
    </select>

    <!-- 查询列表  -->
    <select id="listPicNoContent" resultMap="PicMapper" parameterType="Pic">
        select
        id,
        `type`,
        pic_url,
        owner_id,
        `order`,
        create_time,
        update_time,
        state,
        remark,
        link_url
        from pic
        <where>
            <include refid="Dynamic_Where"/>
        </where>
    </select>

    <!-- 查询总数  -->
    <select id="countPic" resultType="Integer" parameterType="Pic">
        <include refid="countingHeader"/>
        select
        <include refid="All_Column"/>
        from pic
        <where>
            <include refid="Dynamic_Where"/>
        </where>
        <include refid="countingFooter"/>
    </select>

    <!-- 分页列表  -->
    <select id="pageListPic" resultMap="PicMapper" parameterType="QueryPic">
        select
        <include refid="All_Column"/>
        from pic
        <where>
            <include refid="Dynamic_Where"/>
        </where>
        <include refid="pagingFooter"/>
    </select>

    <!-- 查询  -->
    <select id="getPic" resultMap="PicMapper" parameterType="Pic">
        select
        <include refid="All_Column"/>
        from pic
        <where>
            <include refid="Dynamic_Where"/>
        </where>
    </select>

    <!-- 新增  -->
    <insert id="savePic" useGeneratedKeys="true" keyProperty="id" parameterType="Pic">
        insert into pic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Dynamic_Column"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Dynamic_Value"/>
        </trim>
    </insert>

    <!-- 根据id修改  -->
    <update id="modifyPic" parameterType="Pic">
        update pic
        <set>
            <include refid="Dynamic_SetValue"/>
        </set>
        <where>
            <if test="id != null">AND ID = #{id, jdbcType=NUMERIC}</if>
        </where>
    </update>

    <!-- 删除  -->
    <delete id="removePic" parameterType="Pic">
        delete from pic
        <where>
            <include refid="Dynamic_Where"/>
        </where>
    </delete>

</mapper>