<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oil.detection.dao.UserAttentionMapper">

    <!-- mysql分页查询 -->
    <sql id="pagingFooter"> limit #{pageRows} offset #{offset}</sql>
    <sql id="countingHeader">select count(*) from(</sql>
    <sql id="countingFooter">) a</sql>

    <!-- 结果映射  -->
    <resultMap id="UserAttentionMapper" type="UserAttention">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <id column="supplier_id" property="supplierId" jdbcType="BIGINT"/>
        <id column="product_id" property="productId" jdbcType="BIGINT"/>
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <id column="state" property="state" jdbcType="TINYINT"/>
        <id column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 所有列信息  -->
    <sql id="All_Column">
        id,
            user_id,
            supplier_id,
            product_id,
            create_time,
            update_time,
            state,
                remark
        </sql>
    <!-- 动态列信息  -->
    <sql id="Dynamic_Column">
        <if test="userId!= null">user_id,</if>
        <if test="supplierId!= null">supplier_id,</if>
        <if test="productId!= null">product_id,</if>
        <if test="createTime!= null">create_time,</if>
        <if test="updateTime!= null">update_time,</if>
        <if test="state!= null">state,</if>
        <if test="remark!= null">remark,</if>
    </sql>
    <!-- 动态值信息  -->
    <sql id="Dynamic_Value">
        <if test="userId!= null">#{userId,jdbcType=BIGINT},</if>
        <if test="supplierId!= null">#{supplierId,jdbcType=BIGINT},</if>
        <if test="productId!= null">#{productId,jdbcType=BIGINT},</if>
        <if test="createTime!= null">#{createTime,jdbcType=TIMESTAMP},</if>
        <if test="updateTime!= null">#{updateTime,jdbcType=TIMESTAMP},</if>
        <if test="state!= null">#{state,jdbcType=TINYINT},</if>
        <if test="remark!= null">#{remark,jdbcType=VARCHAR},</if>
    </sql>

    <!-- 动态设置值信息  -->
    <sql id="Dynamic_SetValue">
        <if test="userId!= null">user_id = #{userId,jdbcType=BIGINT},</if>
        <if test="supplierId!= null">supplier_id = #{supplierId,jdbcType=BIGINT},</if>
        <if test="productId!= null">product_id = #{productId,jdbcType=BIGINT},</if>
        <if test="createTime!= null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
        <if test="updateTime!= null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
        <if test="state!= null">state = #{state,jdbcType=TINYINT},</if>
        <if test="remark!= null">remark = #{remark,jdbcType=VARCHAR},</if>
    </sql>

    <!-- 动态where值信息  -->
    <sql id="Dynamic_Where">
        <if test="id != null">AND id = #{id, jdbcType=BIGINT}</if>
        <if test="userId != null">AND user_id = #{userId, jdbcType=BIGINT}</if>
        <if test="supplierId != null">AND supplier_id = #{supplierId, jdbcType=BIGINT}</if>
        <if test="productId != null">AND product_id = #{productId, jdbcType=BIGINT}</if>
        <if test="createTime != null">AND create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="updateTime != null">AND update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
        <if test="state != null">AND state = #{state, jdbcType=TINYINT}</if>
        <if test="remark != null">AND remark = #{remark, jdbcType=VARCHAR}</if>
    </sql>

    <!-- 查询列表  -->
    <select id="listUserAttention" resultMap="UserAttentionMapper" parameterType="UserAttention">
        select
        <include refid="All_Column"/>
        from user_attention
        <where>
            <include refid="Dynamic_Where"/>
        </where>
    </select>

    <!-- 查询总数  -->
    <select id="countUserAttention" resultType="Integer" parameterType="UserAttention">
        <include refid="countingHeader"/>
        select
        <include refid="All_Column"/>
        from user_attention
        <where>
            <include refid="Dynamic_Where"/>
        </where>
        <include refid="countingFooter"/>
    </select>

    <!-- 分页列表  -->
    <select id="pageListUserAttention" resultMap="UserAttentionMapper" parameterType="QueryUserAttention">
        select
        <include refid="All_Column"/>
        from user_attention
        <where>
            <include refid="Dynamic_Where"/>
        </where>
        <include refid="pagingFooter"/>
    </select>

    <!-- 查询  -->
    <select id="getUserAttention" resultMap="UserAttentionMapper" parameterType="UserAttention">
        select
        <include refid="All_Column"/>
        from user_attention
        <where>
            <include refid="Dynamic_Where"/>
        </where>
    </select>

    <!-- 新增  -->
    <insert id="saveUserAttention" useGeneratedKeys="true" keyProperty="id" parameterType="UserAttention">
        insert into user_attention
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Dynamic_Column"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Dynamic_Value"/>
        </trim>
    </insert>

    <!-- 根据id修改  -->
    <update id="modifyUserAttention" parameterType="UserAttention">
        update user_attention
        <set>
            <include refid="Dynamic_SetValue"/>
        </set>
        <where>
            <if test="id != null">AND ID = #{id, jdbcType=NUMERIC}</if>
        </where>
    </update>

    <!-- 删除  -->
    <delete id="removeUserAttention" parameterType="UserAttention">
        delete from user_attention
        <where>
            <include refid="Dynamic_Where"/>
        </where>
    </delete>

</mapper>