#set($title="更多服务")
#parse("/layout/header.vm")
<body>
    <div class="card" style="padding:10px;">
        <div>
            <span style="line-height:24px;color:#8c8c8c;font-size:14px;">公司名：</span>
            <span style="line-height:24px;font-size:14px;"></span>
        </div>
        <div>
            <span style="line-height:24px;color:#8c8c8c;font-size:14px;">联系人：</span>
            <span style="line-height:24px;font-size:14px;">陈久久</span>
        </div>
    </div>
    <div class="card" style="">
        <div style="padding:5px 5px 5px 20px;" data-href="/weisite/weixin-bind.html">
            <img src="/res/v4/images/bangding.png" style="width:40px;height:40px;margin-right:10px;"/>
            <span style="line-height:40px;font-size:14px;">绑定微信号</span>
            <img src="/res/v4/images/arrow_right_64_24.png" style="width:40px;height:40px;float:right;"/>
        </div>
        <div style="padding:5px 5px 5px 20px;border-top:1px solid #999;" data-href="/u/edit">
            <img src="/res/v4/images/xiugaiziliao.png" style="width:40px;height:40px;margin-right:10px;"/>
            <span style="line-height:40px;font-size:14px;">修改个人资料</span>
            <img src="/res/v4/images/arrow_right_64_24.png" style="width:40px;height:40px;float:right;"/>
        </div>
    </div>
    <div class="card" style="">
        <div style="padding:5px 5px 5px 20px;" data-href="/weisite/user-reqs.html">
            <img src="/res/v4/images/caigou.png" style="width:40px;height:40px;margin-right:10px;"/>
            <span style="line-height:40px;font-size:14px;">我的采购</span>
            <img src="/res/v4/images/arrow_right_64_24.png" style="width:40px;height:40px;float:right;"/>
        </div>
        <div style="padding:5px 5px 5px 20px;border-top:1px solid #999;" data-href="/weisite/user-orders.html">
            <img src="/res/v4/images/dingdan.png" style="width:40px;height:40px;margin-right:10px;"/>
            <span style="line-height:40px;font-size:14px;">我的订单</span>
            <img src="/res/v4/images/arrow_right_64_24.png" style="width:40px;height:40px;float:right;"/>
        </div>
        <div style="padding:5px 5px 5px 20px;border-top:1px solid #999;" data-href="/weisite/user-watch.html">
            <img src="/res/v4/images/xinxing.png" style="width:40px;height:40px;margin-right:10px;"/>
            <span style="line-height:40px;font-size:14px;">我的关注</span>
            <img src="/res/v4/images/arrow_right_64_24.png" style="width:40px;height:40px;float:right;"/>
        </div>
    </div>

    <div class="card" style="">
        <div style="padding:5px 5px 5px 20px;" data-href="/weisite/weixin.html">
            <img src="/res/v4/images/weixin.png" style="width:40px;height:40px;margin-right:10px;"/>
            <span style="line-height:40px;font-size:14px;">官方微信</span>
            <img src="/res/v4/images/arrow_right_64_24.png" style="width:40px;height:40px;float:right;"/>
        </div>
        <div style="padding:5px 5px 5px 20px;border-top:1px solid #999;" data-href="/weisite/feedback.html">
            <img src="/res/v4/images/fankui.png" style="width:40px;height:40px;margin-right:10px;"/>
            <span style="line-height:40px;font-size:14px;">反馈意见</span>
            <img src="/res/v4/images/arrow_right_64_24.png" style="width:40px;height:40px;float:right;"/>
        </div>
    </div>
    <div class="card" >
        <div style="padding:5px 5px 5px 20px;" onclick="logout()">
            <img src="/res/v4/images/tuichudenglu.png" style="width:40px;height:40px;margin-right:10px;"/>
            <span style="line-height:40px;font-size:14px;">退出登陆</span>
        </div>
    </div>
    <div class="am-u-sm-centered" style="text-align:center;margin-top:20px;">
        <div style="width:300px;border:1px solid #e87823;margin:auto;color:#e87823;">
            <span style="line-height:40px;">客服热线：<a href='tel:'></a></span>
        </div>
    </div>

    #parse("/layout/tabbar.vm")

    <script type='text/javascript'>
         function logout() {
             $.ajax({
                 url :'/u/ajax/logout',
                 success : function(){
                     window.location.href="/index";
                 },
                 error : function(){
                     window.location.href="/index";
                 }
             });
         }
    </script>
</body>